@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

/* header start */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #e3f6e3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  transition: 0.6s;
  /* z-index: 100000; */
}

#header .sticky {
  padding: 5px 100px;
  background-color: #a7e6a7;
}

.logo {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #022c67;
  letter-spacing: 2px;
  font-weight: 900;
  transition: 0.6s;
  font-size: 30px;
}

#navbar {
  position: relative;
  display: flex;
  align-items: center;
}

#navbar li {
  position: relative;
  list-style: none;
  padding: 0 20px;
}
#navbar li a {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.6s;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background: #088178;
  position: absolute;
  left: 10px;
  bottom: -4px;
}
